# Dependencies
node_modules
.pnp
.pnp.js

# Build
.next
out
build
dist

# IDE
.vscode
.idea
*.swp
*.swo

# Testing
coverage

# Environment
.env
.env.local
.env.*.local

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
*.md
*.log
npm-debug.log*
.git
.gitignore
LICENSE
